extends ../layouts/general
block append head 
    script(src="/js/checkin.js")
block content

    .row
        .col#checkin
            h1 Check in 
            if errors
                each error in errors 
                    .alert.alert-danger=error        
            form(method="POST" action="/rooms/checkin" id="form")
                .from-group
                    label(for="name") Tên khách
                    input#name.form-control(name="name" type="text")
                .from-group.mb-3
                    label(for="phone") SĐT
                    input#phone.form-control(name="phone" type="text")
                .from-group.mb-3
                    label(for="room_id") Phòng
                    input#room_id.form-control(name="room_id" type="text")
            button.btn.btn-dark(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal') Checkin
            #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Confirmation
                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        .modal-body Are you sure you want to checkin?
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                            button.btn.btn-primary(type='submit' form="form") Checkin
            h3 Tùy chọn:
            button#orderedCustomer.btn.btn-dark Khách đã đặt
            button#remainRoom.btn.btn-dark.ms-2 Phòng còn
    .row
        .col-md#customers
            .d-flex.justify-content-center.align-items-center
                h2 Khách hàng đã đặt
                button#close-customer.btn-close.ms-1(type="button" aria-label="Close")
            .table-responsive
                table.table
                    thead 
                        tr
                            th.col Tên
                            th.col Phone 
                            th.col Loại phòng 
                            th.col Checkin 
                            th.col Checkout
                    tbody 
                        each customer in customers
                            tr 
                                td=customer.name 
                                td=customer.phone 
                                td=customer.room_type
                                td=customer.checkin_date 
                                td=customer.checkout_date
            //- each customer in customers 
            //-     ul.card.list-unstyled.shadow-lg.m-2.border-success(class="text-dark bg-light mb-3")
            //-         h5.card-header="Khách: "+customer._id
            //-         .card-body
            //-             li="Tên: "+customer.name 
            //-             li="Phone: "+customer.phone 
            //-             li="Loại phòng: "+customer.room_type 
            //-             li="Checkin: "+customer.checkin_date 
            //-             li="Checkout: "+customer.checkout_date
        .col-md#rooms
                .d-flex.justify-content-center.align-items-center
                    h2 Phòng còn
                    button#close-room.btn-close.ms-1(type="button" aria-label="Close")
                .container 
                    .row(class="row-cols-1 row-cols-sm-1 row-cols-lg-2")
                        each room in rooms
                            if(!room.customer)
                                .col
                                    ul.card.list-unstyled.shadow-lg.m-2.border-success(class= "text-dark bg-light mb-3")
                                        h5.card-header="Phòng "+room.room_id
                                        .card-body
                                            li="Loại phòng: "+room.room_type

           
           
           
            
