extends ../layouts/general
block content
    h1 Rent history    
    .table-responsive
        table.table
            thead 
                tr  
                    th Phòng 
                    th Tên khách 
                    th CMND 
                    th Phone 
                    th Ngày thuê
            tbody 
                each rent in rents
                    tr 
                        if(rent.customer)
                            td=rent.room.room_id 
                            td=rent.customer.name
                            td=rent.customer.CMND 
                            td=rent.customer.phone
                            td=rent.customer.checkin_date+" - "+rent.customer.checkout_date
            
