extends ../layouts/general
block append head 
    script(src="https://unpkg.com/xlsx/dist/xlsx.full.min.js")

block content
    h1 Payment History 
    form(action="/rooms/payment-history/search",method="GET" )
        .row 
            .col
                select.form-select(name="q" aria-label='Default select example')
                    option(selected='' value="") Select a month
                    option(value='01') January
                    option(value='02') February
                    option(value='03') March
                    option(value='04') April
                    option(value='05') May
                    option(value='06') June
                    option(value='07') July
                    option(value='08') August
                    option(value='09') September
                    option(value='10') October
                    option(value='11') November
                    option(value='12') December
            .col
                button.btn.btn-dark(type="submit") Search

    .table-responsive 
        table.table#report-table 
            thead 
                tr
                    th.col Tên
                    th.col Phone
                    th.col CMND
                    th.col Phòng
                    th.col Ngày thuê
                    th.col Số ngày ở
                    th.col Giá phòng/Ngày
                    th.col Ngày thanh toán 
                    th.col Tổng
            tbody
                each payment in payments
                    tr 
                        if(payment.customer)
                            td=payment.customer.name 
                            td=payment.customer.phone 
                            td=payment.customer.CMND 
                            td=payment.room.room_id 
                            td=payment.customer.checkin_date+"-"+payment.customer.checkout_date 
                            td=payment.days_rent
                            td=payment.room.price 
                            td=payment.pay_date
                            td#price=payment.summary
                break
                    tr
                        td.fw-bold Tổng
                        td#get-total
    .row 
        .col.text-center.pt-4
            button#total-btn.btn.btn-dark(href="") Tính tổng
            button#export-btn.btn.btn-dark.ms-2(onclick="ExportToExcel('xlsx', 'ReportTable')") Xuất excel
            button#chart-btn.btn.btn-dark.ms-2 Biểu đồ
    .container
        canvas(id="myChart")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="/js/payment-history.js")
       
