extends ../layouts/general
block content 
    if user
    figure.text-center
        blockquote.blockquote
            p= "You made your way in "+user.name+" !!!"
        figcaption.blockquote-footer
            | Work hard 
            cite(title='Source Title') everyday
    h1 Rooms
        .row
            .col-md-8
                a(href="/rooms/create" class="btn btn-dark m-2") Create
                a(href=`/rooms/checkin` class="btn btn-dark m-2") Checkin
                a(href="rooms/checkout" class="btn btn-dark m-2") Checkout
                a(href="/rooms/history" class="btn btn-dark m-2") Rent history
                a(href="/rooms/payment-history" class="btn btn-dark m-2") Payment history
                a(href="/rooms/services" class="btn btn-dark m-2") Services
                button(type="button" class="btn btn-dark m-2" id="liveToastBtn") Phòng đến hạn
            .col-md-4
                form(action="/rooms/search",method="GET" class="d-flex ml-auto")
                    input(type="text", name="q" class="form-control")
                    button(class="btn btn-dark ms-3") Search
    .row(class="row-cols-1 row-cols-sm-2 row-cols-lg-4")
        each room in rooms
            .col.text-center
                #room-list.ul.card.list-unstyled.shadow-lg(class= room.customer ? "text-white bg-dark mb-3 ":"text-dark bg-light mb-3 ")
                    h5.card-header="Phòng "+room.room_id
                    .card-body
                        li="Loại phòng: "+room.room_type
                        li="Giá phòng: "+room.price 
                        li="Ghi chú: "+room.note 
                        if(room.customer)
                            li="Tên khách hàng: "+room.customer.name
                            li="Ngày checkin: "+room.customer.checkin_date
                            li="Ngày checkout:"+room.customer.checkout_date
                        a.mt-2(href="/rooms/"+room._id class=room.customer? "btn btn-light":"btn btn-dark") View
    .position-fixed.bottom-0.end-0.p-3(style='z-index: 11')
        #liveToast.toast(role='alert', aria-live='assertive', aria-atomic='true' data-bs-autohide="false")
            .toast-header
                img.rounded.me-2(src='/images/logo.jpg', style="width:10%")
                strong.me-auto Dream Hotel
                small=today
                button.btn-close(type='button', data-bs-dismiss='toast', aria-label='Close')
            .toast-body
                each room in rooms
                    if(room.customer)
                        if(room.customer.checkout_date === today)
                            h5.text-danger="Phòng đến ngày checkout: "+room.room_id

    style. 
        #room-list{
            height: 21rem;
        }
    script.
        var toastLiveExample = document.getElementById('liveToast')
        var toast = new bootstrap.Toast(toastLiveExample)
        window.onload = toast.show()

        var toastTrigger = document.getElementById('liveToastBtn')
        if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            toast.show()
        })
        }