extends ../layouts/general
block content 
    if user
    figure.text-center
        blockquote.blockquote
            p= "You made your way in "+user.name+" !!!"
        figcaption.blockquote-footer
            | Work hard 
            cite(title='Source Title') everyday
    h1 Rooms
        .row
            .col-md-8
                a(href="/rooms/create" class="btn btn-dark m-2") Create
                a(href=`/rooms/checkin` class="btn btn-dark m-2") Checkin
                a(href=`#` class="btn btn-dark m-2") Checkout
                a(href="/rooms/history" class="btn btn-dark m-2") Rent history
            .col-md-4
                form(action="/rooms/search",method="GET" class="d-flex ml-auto")
                    input(type="text", name="q" class="form-control")
                    button(class="btn btn-dark ms-3") Search
    .row(class="row-cols-1 row-cols-sm-2 row-cols-lg-4")
        each room in rooms
            .col.text-center
                #room-list.ul.card.list-unstyled.shadow-lg(class= room.customer ? "text-white bg-dark mb-3 ":"text-dark bg-light mb-3 ")
                    h5.card-header="Phòng "+room.room_id
                    .card-body
                        li="Loại phòng: "+room.room_type
                        li="Giá phòng: "+room.price 
                        li="Ghi chú: "+room.note 
                        if(room.customer)
                            li="Tên khách hàng: "+room.customer.name
                        if(room.customer)
                            li="Ngày checkin: "+room.customer.checkin_date
                            li="Ngày checkout:"+room.customer.checkout_date
                        a.mt-2(href="/rooms/"+room._id class=room.customer? "btn btn-light":"btn btn-dark") View
    style. 
        #room-list{
            height: 17rem;
        }
