extends ../layouts/general
block content 
    .d-flex.align-items-center
        h1 Rooms
        <a href="/rooms/create" class="btn btn-primary ml-2">Create</a>
        form(action="/rooms/search",method="GET" class="d-flex ml-auto")
            input(type="text", name="q" class="form-control")
            button(class="btn btn-primary ml-4") Search
    .d-flex.flex-wrap
        each room,index in rooms
                ul.card.list-unstyled.shadow-lg.m-2(class=room.room_state ? "text-white bg-success mb-3":"text-white bg-danger mb-3")
                    h5.card-header="Phòng "+room.room_id
                    .card-body
                        li="Loại phòng: "+room.room_type
                        li="Giá phòng: "+room.price 
                        li="Ghi chú: "+room.note 
                        li=`Tình trạng: ${room.room_state? "Còn" : "Hết"}`
                        a(href="/rooms/"+room.id class="btn btn-primary") View