extends ../layouts/general
block content 
    if user
    figure.text-center
        blockquote.blockquote
            p= "You made your way in "+user.name+" !!!"
        figcaption.blockquote-footer
            | Work hard 
            cite(title='Source Title') everyday
    h1 Rooms
    .row
        .col-md-9
            a(href="/rooms/create" class="btn btn-dark m-1") Create
            a(href=`/rooms/checkin` class="btn btn-dark m-1") Checkin
            a(href="/rooms/checkout" class="btn btn-dark m-1") Checkout
            a(href="/rooms/rents" class="btn btn-dark m-1") Rent history
            a(href="/rooms/payment-history" class="btn btn-dark m-1") Payment history
            a(href="/rooms/services" class="btn btn-dark m-1") Services
            a(href="/rooms/vouchers" class="btn btn-dark m-1") Vouchers
            button(type="button" class="btn btn-dark m-1" id="liveToastBtn") Phòng đến hạn
        .col-md-3
            //- form(action="/rooms/search",method="GET" class="d-flex ml-auto")
            //-     input(type="text", name="q" class="form-control")
            //-     button(class="btn btn-dark ms-3") Search
            .container-2
                input.datepick(type='text' placeholder='Check available' class="form-control" id="available")
                   
    select.form-select(id="room_type" class="mt-2")
        option(value='') Filter with Room Type
        option(value='Standard') Standard
        option(value='Superior') Superior
        option(value='Deluxe') Deluxe
        option(value='Luxury') Luxury
    select.form-select(id="room_state" class="mt-2")
        option(value='') Filter with Room State
        option(value='Available') Available
        option(value='Not Available') Not Available
    .row(class="row-cols-1 row-cols-sm-2 row-cols-lg-4 pt-4" id="rooms-card")
        //- each room in rooms
        //-     .col.text-center
        //-         #room-list.h-auto.card.list-unstyled.shadow-lg(class= room.customer ? "text-white bg-dark mb-3 ":"text-dark bg-light mb-3 ")
        //-             img(src=`${room.image}` class="card-img-top")
        //-             .card-body
        //-                 h5.card-title="Phòng "+room.room_id
        //-                 li="Loại phòng: "+room.room_type
        //-                 //- li="Giá phòng: "+room.price 
        //-                 //- li="Ghi chú: "+room.note 
        //-                 //- if(room.customer)
        //-                 //-     li="Tên khách hàng: "+room.customer.name
        //-                 //-     li="Ngày checkin: "+room.customer.checkin_date
        //-                 //-     li="Ngày checkout:"+room.customer.checkout_date
        //-                 a.mt-2.button(href="/rooms/"+room._id class=room.customer? "btn btn-light":"btn btn-dark")
        //-                     span View
    .position-fixed.bottom-0.end-0.p-3(style='z-index: 11')
        #liveToast.toast(role='alert', aria-live='assertive', aria-atomic='true' data-bs-autohide="false")
            .toast-header
                img.rounded.me-2(src='/images/logo.jpg', style="width:10%")
                strong.me-auto Dream Hotel
                small=today
                button.btn-close(type='button', data-bs-dismiss='toast', aria-label='Close')
            .toast-body
                each room in rooms
                    if(room.customer)
                        if(room.customer.checkout_date === today)
                            h5.text-danger="Phòng đến ngày checkout: "+room.room_id
    i(class="fas fa-chevron-circle-down fa-4x d-flex justify-content-center" id="load-more")

    script(type="text/javascript" src="/js/room-home.js")
    script(src='/js/datepicker.js')
       