extends ../layouts/general
block content 

    h1 View user

    .table-responsive
        table.table.text-center
            thead 
                th
                    img(src=user.avatar class="rounded-circle border border-dark" style="width:12.5rem;height:12.5rem")
            tbody 
                td    
                    ul.list-unstyled.fs-4
                        li.fw-bold
                            i(class="fa-solid fa-id-card")
                            span="Name: "+user.name
                        li    
                            i(class="fa-solid fa-phone")
                            span="Phone: "+user.phone
                        li
                            i(class="fa-solid fa-envelope")
                            span="Email: " +user.email 
                        li
                            i(class="fa-solid fa-lock")
                            span="Password: "+"**********"
    if(user.permission < 3)
        h3.text-center.mt-5 Contact admin for password change
