extends ../layouts/general
block content
    .row
        .col-md
            h1 Customers
        .col-md
            form(action="/customers/search",method="GET" class="d-flex ms-auto")
                input(type="text", name="q" class="form-control")
                button(class="btn btn-dark ms-3") Search
    .table-responsive 
        table.table
            thead
                tr
                    th.col Tên 
                    th.col Phone
                    if(user.permission > 1)
                        th.col CMND
                        th.col Loại phòng
                    th.col Phòng
                    th.col Checkin 
                    th.col Checkout
                    th.col Checkin State
                    th.col Checkout State
                    if(user.permission > 1)
                        th.col Edit
                    th.col Service
                tbody
                    each customer in customers
                        tr
                            td=customer.name 
                            td=customer.phone 
                            if(user.permission > 1)
                                td=customer.CMND 
                                td=customer.room_type
                            td=customer.room_id
                            td=customer.checkin_date 
                            td=customer.checkout_date
                            if(customer.checkin_state)
                                td.fw-bold Đã checkin
                            else 
                                td Chưa checkin
                            if(customer.checkout_state)
                                td.fw-bold Đã checkout
                            else
                                td Chưa Checkout
                            if(user.permission > 1)
                                td 
                                    if(customer.checkout_state)
                                        a.btn.btn-dark(href="/customers/"+customer._id class="disabled") Edit
                                    else 
                                        a.btn.btn-dark(href="/customers/"+customer._id) Edit
                            td 
                                if(customer.checkout_state)
                                    a.btn.btn-dark(href="/customers/services/"+customer._id class="disabled") Add
                                else
                                    a.btn.btn-dark(href="/customers/services/"+customer._id) Add
