extends ../layouts/general
block content
    .row
        .col-md
            h1 Customers
        .col-md
            form(action="/customers/search",method="GET" class="d-flex ms-auto")
                input(type="text", name="q" class="form-control")
                button(class="btn btn-dark ms-3") Search
    .table-responsive 
        table.table
            thead
                tr
                    th.col Tên 
                    th.col Phone
                    th.col CMND
                    th.col Loại phòng
                    th.col Checkin 
                    th.col Checkout
                    th.col Edit
                tbody
                    each customer in customers
                        tr
                            td=customer.name 
                            td=customer.phone 
                            td=customer.CMND 
                            td=customer.room_type
                            td=customer.checkin_date 
                            td=customer.checkout_date
                            td 
                               a.btn.btn-dark(href="/customers/"+customer._id) Sửa
