extends ../layouts/general
block content
    h1.text-center Customers
        .table-responsive 
            table.table
                thead
                    tr
                        th.col Mã KH
                        th.col Tên 
                        th.col Phone
                        th.col CMND
                        th.col Loại phòng
                        th.col Checkin 
                        th.col Checkout 
                    tbody
                        each customer in customers
                            tr
                                td=customer._id
                                td=customer.name 
                                td=customer.phone 
                                td=customer.CMND 
                                td=customer.room_type
                                td=customer.checkin_date 
                                td=customer.checkout_date
